*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
li{
    list-style: none;
}
/* 设置整体布局 */
#box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* 设置顶部 */
#top{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
}




/* 设置中间内容 */
.content{
    margin-top: 100px;
}



/* 设置底部 */
#bottom{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: green;
}